<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="موسوعة القوانين اليمنية"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- يعرض شاشة البداية (splash) المُعرَّفة في launch_background.xml
                 إلى أن يصبح فلاتر جاهزًا لرسم الواجهة، ثم يتحول تلقائيًا
                 إلى الثيم العادي NormalTheme. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- ضروري لكل تطبيقات فلاتر: يفعّل نظام الإضافات (plugins) الحديث -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
</manifest>
